<!DOCTYPE html>
<html>
<head>
    <title>Digital Ocean!</title>
    <link rel="stylesheet" href="/dist/index.css">
      <script src="/bower_components/jquery/dist/jquery.min.js"></script>
      <script src="/javascripts/vendor/JareUtils.js"></script>
      <script src="/javascripts/vendor/fpsMeter.js"></script>
      <script src="/javascripts/vendor/GameLoopManager.js"></script>
      <script src="/javascripts/vendor/fabric.js"></script>
      <script src="/javascripts/eventHandlers.js"></script>
      <script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
</head>
<body>
  <div class="wrap">
    <h1>Sharks and Minnows</h1>
  </div>
  <% if(controls === "joystick") { %>}
    <button id="up">up</button>
    <button id="left">left</button>
    <button id="right">right</button>
    <button id="down">down</button>
  <% } %>
  <canvas id="canvas" width="400" height="400"></canvas>
  <div id="fpscontainer"></div>
  <span id="username"><%=username%></span> <span id="controls"><%=controls%></span>
  <script src="/javascripts/index.js"></script>
</body>
</html>

