<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Join game</title>
        <link rel="stylesheet" href="/dist/index.css">
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
	</head>
	<body>
        <div class="wrap">
            <h1>Sharks and Minnows</h1>
        </div>
        <section class="user-selection">
	        <div class="menu">
				<form action="/" method="post">
					<span>Username: </span><input type="text" name="username"/>
					<br></br>
					<input type="radio" name="controls" value="joystick"/><span>Joystick</span>
					<input type="radio" name="controls" value="tilt"/><span>Tilt</span>
					<input type="radio" name="controls" value="keyboard"/><span>Keyboard</span>
					<br></br>
					<input type="submit" value="Play as guest"/>
				</form>
			</div>
		</section>
    </div>
	</body>
</html>
