// this is sass!
@import "bourbon";
@import "neat";

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Lobster|Cabin);

// Variables
$blue: #24505f;
$grey: #292929;
$lightgrey: #404040;
$textcolor: #fdf5e6;
$title-font: 'Lobster', cursive;
$body-font: 'Cabin', sans-serif;
$shadow: 0 3px 2px black;

// Styles
html {
    background-color: $grey;
}

body {
    margin: 0;
    font-family: $body-font;
    font-weight: 400;
    color: $textcolor;
    overflow-x: hidden;
}

h1 {
    font-family: $title-font;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    margin: 0;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: $shadow;
}

.wrap {
    background-color: $blue;
    width: 100%;
    margin: 0 auto;
    padding: 8px;
    box-shadow: $shadow;
}



section.user-selection {
    padding: 50px 0;
    .menu {
        @include outer-container;
        background-color: $lightgrey;
        box-shadow: $shadow;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 30px 20px;
        form {
            text-align: center;
        }
        input {
            background-color: $blue;
            border-radius:4px;
            color: $textcolor;
            font-family: $body-font;
            padding: 10px 20px;
            font-size: 20px;
            text-decoration: none;
            border:none;
        }
        input [type="submit"] {
            font-family: $title-font;
            font-size: 20px;
            text-decoration: none;
        }
    }
}

.fishys img {
   display: block;
   width: auto;
   margin: auto;
}