// this is sass!
@import "bourbon";
@import "neat";

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Lobster|Cabin);

// Variables
$blue: #24505f;
$grey: #292929;
$lightgrey: #404040;
$textcolor: #fdf5e6;
$title-font: 'Lobster', cursive;
$body-font: 'Cabin', sans-serif;
$shadow: 0 3px 2px black;

// Styles
html {
    background-color: $grey;
}

body {
    margin: 0;
    font-family: $body-font;
    font-weight: 400;
    color: $textcolor;
    overflow-x: hidden;
}

h1 {
    font-family: $title-font;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    margin: 0;
}




section.game {
    canvas {
        padding: 0 0 0 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        display: block;
        box-shadow: $shadow;
        z-index: 1;
    }
    .wrap {
        background-color: $blue;
        width: 100%;
        margin: 0 auto;
        padding: 8px;
        box-shadow: $shadow;
    }
    .status {
        @include outer-container;
        position: relative;
        width: 750px;
        font-size: 30px;
        span{
            opacity: 0.5;
            position: absolute;
            top: -100px;
            z-index: 999;
            width: 100%;
            text-align: center;
            &:hover {
                opacity: 1;
            }
        }
    }
    .info {
        @include outer-container;
        text-align: center;
        padding: 10px;
        font-size: 20px;
        color: #000000;
    }
}
section.user-selection {
    padding: 50px 0;
    .menu {
        @include outer-container;
        max-width: 320px;
        border-radius: 4px;
        background-color: $lightgrey;
        box-shadow: $shadow;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 30px 20px;
        form {
            text-align: center;
        }
        input {
            background-color: $blue;
            border-radius:4px;
            color: $textcolor;
            font-family: $body-font;
            padding: 10px 20px;
            font-size: 20px;
            text-decoration: none;
            border:none;
        }
        input [type="submit"] {
            font-family: $title-font;
            font-size: 20px;
            text-decoration: none;
        }
    }
}

.fishys img {
   display: block;
   width: auto;
   margin: auto;
}
